.fondo-home
  {

 background-image: linear-gradient(180deg, #00B8FF 0%, #FF0077 100%)!important;
  background-size: cover!important;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  }





.custom_nav-container {
  z-index: 99999;
  padding: 0px 0!important;
}


.box {
  padding: 0px 0!important; 
  border: none!important; 
  margin-top: -10px;
}

.titulo {
  font-size: 2.5rem!important; 
  font-family:Gluon!important;
  text-align: center;
  color: #fff;
  font-weight: 800!important;

  }

.sub-titulo {
  font-size: 1.3rem!important; 
  text-align: center;
  color: #fff;
  font-weight: 300!important;
  font-family: Raleway;
  }

.overlay {
background-image: linear-gradient(180deg, #313C40 30%, #FF0077 100%)!important;
  background-size: cover!important;
  
}

.txt {
  font-size: 1rem!important; 
  font-family:Raleway!important;
  color: #333;
  letter-spacing: 0px!important;
  line-height: 1.2rem!important;
  font-weight: 100!important;
  text-align: justify;
  } 

  .txt-2 {
  font-size: 1.2rem!important; 
  font-family:Raleway!important;
  color: #333;
  letter-spacing: 0px!important;
  line-height: 1rem!important;
  font-weight: 300!important;
  text-align: center;
  margin-top: 1em;

  }  

.sub-tit {
  font-size: 1.5rem!important; 
  font-family:Gluon!important;
  color: #333;
  }  

.sub-tit2 {
  font-size: 1rem!important; 
  font-family:Gluon!important;
  color: #fff;
  font-weight: 800!important;
 text-align: left;
  }  


  .sub-tit3 {
  font-size: 1rem!important; 
  font-family:Gluon!important;
  color: #333;
  font-weight: 800!important;
 text-align: left;
  }  

  
 .mt--30 {
  margin-top: -30px !important;
} 

 .mt-20 {
  margin-top:20px !important;
} 

 .mt-200 {
  margin-top: 20%!important;
} 

 .mb-20 {
  margin-bottom: 20px!important;
} 
 .mt-0 {
  margin-bottom: 0px!important;
} 

.mt-20{
 margin-top: 20px!important;
  }
  .mt-50{
 margin-top: 50px!important;
  }

